.custom-shape-divider-bottom-1661065439 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1661065439 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 204px;
}

.custom-shape-divider-bottom-1661065439 .shape-fill {
  fill: #ffffff;
}
svg {
  color: blue;
  height: 600px;
}
